# secrets
.env

# Python cache
__pycache__/
*.py[cod]

# virtual environments
.venv/
venv/
env/

# packaging/build artifacts
build/
dist/
*.egg-info/

# test/cache tools
.pytest_cache/
.coverage
htmlcov/reader-whl