[submodule "test_projects/jiyeonkim26.github.io"]
	path = test_projects/jiyeonkim26.github.io
	url = https://github.com/jiyeonkim26/jiyeonkim26.github.io
[submodule "test_projects/markdown-compiler"]
	path = test_projects/markdown-compiler
	url = https://github.com/jiyeonkim26/markdown-compiler
